# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#Python
*.swp
.swp
static
media
.pyc
*.pyc
__pycache__
*.*old*
# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

#javascript
node_modules/
npm-debug.log
coverage/
.DS_Store
.vscode
/yarn-error.log
.idea/
/build
/bundle-report.html
/target
/e2e_tests/screenshots/
/e2e_tests/videos/
mvn/
dist/
NOTICE.xml
*.tgz
*.tar.gz
release-notes.md
/stats.json
signature.pem
HEAD
neo4j-enterprise-*/

# screenshot
screenshot
.firebase
.eslintcache

build
