aredis
eventlet
faust
faust[eventlet]
python-schema-registry-client[faust]
mode
neo4j
neo4jrestclient
pyyaml
simple-settings
redis
pytest
pytest-asyncio
typing-extensions==3.7.4.1
aiohttp==3.5.4
aiohttp-cors==0.7.0
astroid==2.2.5
async-timeout==3.0.1
attrs==19.1.0
yarl==1.3.0
