aiodns
aiohttp
alembic
cchardet
httpie
rednose
observable
coverage
Flask
Flask-Alembic
Flask-API
Flask-Migrate
Flask-Script 
flask-restplus
flask-cors
flask-swagger
Flask-SocketIO
flasgger
foursquare
itsdangerous==0.24
kafka-python
kombu
MarkupSafe
pytz
pyyaml
simple-settings
redis
vine
werkzeug
msgpack-python==0.4.6
python-dateutil==2.4.2
python-dotenv
python-socketio
psycopg2
psycopg2-binary
gunicorn
requests
six==1.9.0
SQLAlchemy
sqlalchemy-migrate
slackclient
slackeventsapi
socketIO-client
websockets
wsproto
