aiodns
aiohttp
alembic
cchardet
pylint
httpie
nose
rednose
pinocchio
coverage
codecov
Babel
billiard
click
cffi
Flask
Flask-Alembic
Flask-API
Flask-Migrate
Flask-Social
Flask-Script 
flask-bootstrap
flask-marshmallow
flask-paginate
flask-restplus
flask-cors
flask-swagger
flasgger
foursquare
http://github.com/pythonforfacebook/facebook-sdk/tarball/master
google-api-python-client
oauth2client 
google-api-python-client
itsdangerous==0.24
Jinja2
kombu
MarkupSafe
pytz
pyjwt
redis
vine
werkzeug
msgpack-python==0.4.6
python-dateutil==2.4.2
python-dotenv
psycopg2
psycopg2-binary
gunicorn==20.0.4
requests
six==1.9.0
SQLAlchemy
sqlalchemy-migrate
marshmallow-sqlalchemy
